body{
  background-color: black;
  color:white;
}
.App {
    font-family: sans-serif;
    text-align: center;
  }
  ul{
    list-style: none;
  }
  li{
    border: 4px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin: 5%;
    height: 5rem;
    align-items: center;
  }
  span{
    padding: 1rem;
    font-weight: bold;
  }
